{% extends "layout.html" %}
{% block content %}
  <h2>About us</h2>
  <p>Zone Entries are some of the latest research in hockey analytics as shown by research at the latest SSAC.  This app is meant to be a single place for all zone entry people to input their zone entry and to share their data.  Users can manage their own data and download all zone entry in a convenient .csv file.  Further research can be composed with this data as well as data in other databases.</p>
  <p>Created by Josh Weissbock with thanks to the feedback of all users.</p>
  <p>Follow me on twitter <a href="http://twitter.com/joshweissbock">@joshweissbock</a> or email me at <a href="mailto:josh.weissbock@gmail.com">josh.weissbock@gmail.com</a>
{% endblock %}
