{% extends "layout.html" %}
{% block content %}
  <h2>Add Zone Entry</h2>
  <form id="addZE">
  <dl>
  	<dt>Game ID:</dt>
  	<dd><select><option value="20122013">2012-2013</option>
  				<option value="20132014">2013-2014</option></select>
  		<input type="text" /></dd>
  	<dt>Team</dt>
  	<dd><select><option value="H">Home</option><option value="A">Away</option></select></dd>
  </dl>
  <div style="text-align: center">
  	<table id="zentries" style="margin: 0 auto;" border="0" >
  		<tr>
  			<td>&nbsp;</td>
  			<td>Period</td>
  			<td>Time</td>
  			<td>Exit Type</td>
  			<td>Player</td>
  			<td>Pressure</td>
  			<td>Strength</td>
  			<td>&nbsp;</td>
  		</tr>
  		<tr>
  			<td class="NewCell"><input type="button" id="NewRow" value="(+)" /></td>
  			<td><select><option value=1>1</option><option value=2>2</option><option value=3>3</option></select></td>
  			<td><input type=text /></td>
  			<td><select>
  					<option value="C">(C) Carry</option>
  					<option value="P">(P) Pass</option>
  					<option value="CH">(CH) Chip</option>
  					<option value="I">(I) Icing</option>
  					<option value="FP">(FP) Failed Pass</option>
  					<option value="PT">(PT) Pass Turnover</option>
  					<option value="FC">(FC) Failed Carry</option>
  					<option value="CT">(CT) Carry Turnover</option>
  					<option value="T">(T) Turnover</option>
  					<option value="X">(X) Other</option>
  				</select></td>
  			<td><input type=text /></td>
  			<td><select><option value="Y">Yes</option><option value="N">No</option></select></td>
  			<td><select>
  					<option selected>5v5</option>
  					<option>5v4</option>
  					<option>5v3</option>
  					<option>4v5</option>
  					<option>4v4</option>
  					<option>4v3</option>
  					<option>3v5</option>
  					<option>3v4</option>	
  				</select></td>
  			<td class="DeleteCell"><input type="button" class="deleteRow" value="Delete" /></td>
  		</tr>
  	</table>
  	<p><input type="button" id="SaveZentries" value="Save" /></p>
  	</form>
  </div>
{% endblock %}
