{% extends "layout.html" %}
{% block content %}
{% if data != None %}
	<script type="text/javascript">
  function secondstominutes(secs) {
    var mins = Math.floor(secs / 60);
    secs = secs % 60;

    return (mins < 10 ? "0" + mins : mins) 
          + ":"
          + (secs < 10 ? "0" + secs : secs);
  }
	$(document).load(function(){
		var gameid = null;
		var team = null;
    alert('loading');
	{% for d in data %}
		// get last row
		var row = $("#zentries tr:last");
		// lastrow.period = 4
		row.find("select[name=period]").val('{{ d[4] }}');
		// lastrow.time = 5
		row.find("input[name=time]").val(secondstominutes('{{ d[5] }}'));
		// lastrow.exit = 6
		row.find("select[name=exit]").val('{{ d[6] }}')
		// lastrow.player = 7
		row.find("input[name=player]").val('{{ d[7] }}');
		// save other variables
		gameid = {{ d[1] }};
		team = '{{ d[3] }}';
		// add new row
		$("#NewRow").click();
	{% endfor %}
		// game id year and number
		gameid = gameid.toString();
		gameidyear = gameid.substr(0,8);
		$("#gameidyear").val(gameidyear);
		gameid = gameid.substring(8);
		$("#gameid").val(gameid);
		// select the house
		$("#team").val(team);
    $(".DeleteCell:last").click();
	});
	</script>
{% endif %}
  <h2>Add Zone Exit</h2>
  <form id="addZE">
  <dl>
  	<dt>Game ID:</dt>
  	<dd><select id="gameidyear" name="gameidyear"><option value="20122013">2012-2013</option>
  							  <option value="20132014">2013-2014</option></select>
  		<input id="gameid" name="gameid" type="text" /></dd>
  	<dt>Team</dt>
  	<dd><select id="team" name="team"><option value="H">Home</option><option value="A">Away</option></select></dd>
  </dl>
  <div style="text-align: center">
  	<table id="zentries" style="margin: 0 auto;" border="0" >
  		<tr>
  			<td>&nbsp;</td>
  			<td>Period</td>
  			<td>Time</td>
  			<td>Exit Type</td>
  			<td>Player</td>
  			<td>&nbsp;</td>
  		</tr>
  		<tr>
  			<td class="NewCell"><input type="button" id="NewRow" value="(+)" /></td>
  			<td><select name="period"><option value=1>1</option><option value=2>2</option><option value=3>3</option><option value=4>OT</option></select></td>
  			<td><input name="time" type=text /></td>
  			<td><select name="exit">
  					<option value="C">(C) Carry</option>
  					<option value="P">(P) Pass</option>
  					<option value="CH">(CH) Chip</option>
  					<option value="I">(I) Icing</option>
  					<option value="FP">(FP) Failed Pass</option>
  					<option value="PT">(PT) Pass Turnover</option>
  					<option value="FC">(FC) Failed Carry</option>
  					<option value="CT">(CT) Carry Turnover</option>
  					<option value="T">(T) Turnover</option>
  					<option value="X">(X) Other</option>
  				</select></td>
  			<td><input name="player" type=text /></td>
  			<td class="DeleteCell"><input type="button" class="deleteRow" value="Delete" /></td>
  		</tr>
  	</table>
  	<p><input type="button" id="SaveZentries" value="Save" /></p>
  	</form>
  </div>
{% endblock %}
