<style type="text/css">
td {
    border: 1px solid black;
}
.error {
    color: red;
}
a {
    color: blue ;
}
</style>

<p><a href="{{ url_for('index') }}">Home</a></p>

| {% for code in teamCodes %}
    {% if code != curTeam %}
        <a href="{{ url_for('dbSeasonTeam', team=code) }}">{{ code }}</a> 
    {% else %}
        {{ code }}
    {% endif %} |
{% endfor %}

{% if error %}

<p class="error">{{ error }}</p>

{% else %}

<p>Home Data | Away Data | Aggregate Data</p>

<p><strong>Home Data</strong></p>

<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td># of exit attempts</td>
    <td># Failed</td>
    <td># Successful</td> 
    <td>% Successful</td>
    <td># w/ Possession</td>
    <td>% w/ Possession</td>
  </tr>

 {% for row in data %}
<tr>
    <td>{{ row[0] }}</td>
    <td>&lt;Unknown Player Name&gt;</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[6] }}</td>
</tr>
 {% endfor %}   
</table>

<p><strong>Away Data</strong></p>

<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td># of exit attempts</td>
    <td># Failed</td>
    <td># Successful</td>
    <td>% Successful</td> 
    <td># w/ Possession</td>
    <td>% w/ Possession</td>
  </tr>
 {% for row in data2 %}
<tr>
    <td>{{ row[0] }}</td>
    <td>&lt;Unknown Player Name&gt;</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[6] }}</td>
</tr>
 {% endfor %} 
  </table>

  <p><strong>Combined Data</strong></p>

<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td># of exit attempts</td>
    <td># Failed</td>
    <td># Successful</td>
    <td>% Successful</td> 
    <td># w/ Possession</td>
    <td>% w/ Possession</td>
  </tr>
 {% for row in data3 %}
<tr>
    <td>{{ row[0] }}</td>
    <td>&lt;Unknown Player Name&gt;</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[6] }}</td>
</tr>
 {% endfor %} 
  </table>

{% endif %}