<style type="text/css">
td {
    border: 1px solid black;
}
.error {
    color: red;
}
</style>

<p>Home Data | Away Data | Aggregate Data</p>

<p><strong>Home Data</strong></p>

<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td># of exit</td>
    <td># Failed</td>
    <td># Successful</td> 
    <td>% Successful</td>
    <td># w/ Possession</td>
    <td>% w/ Possession</td>
  </tr>

 {% for row in data %}
<tr>
    <td>{{ row[0] }}</td>
    <td>&lt;Unknown Player Name&gt;</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[6] }}</td>
</tr>
 {% endfor %}   
</table>

<p><strong>Away Data</strong></p>

<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td># of exits</td>
    <td># Failed</td>
    <td># Successful</td>
    <td>% Successful</td> 
    <td># w/ Possession</td>
    <td>% w/ Possession</td>
  </tr>
 {% for row in data2 %}
<tr>
    <td>{{ row[0] }}</td>
    <td>&lt;Unknown Player Name&gt;</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[6] }}</td>
</tr>
 {% endfor %} 
  </table>

  <p><strong>Combined Data</strong></p>

<table>
  <tr>
    <td>#</td>
    <td>Name</td>
    <td># of exits</td>
    <td># Failed</td>
    <td># Successful</td>
    <td>% Successful</td> 
    <td># w/ Possession</td>
    <td>% w/ Possession</td>
  </tr>
 {% for row in data3 %}
<tr>
    <td>{{ row[0] }}</td>
    <td>&lt;Unknown Player Name&gt;</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[5] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[6] }}</td>
</tr>
 {% endfor %} 
  </table>