{% extends "layout.html" %}
{% block content %}
<h2>Zone Entry Nexus</h2>
<p>Welcome to ZEN, your one stop shop for tracking, and managing zone entry data as well as allowing it to be used for further research.  Got problems you want to solve with Zone Entries/Exists, let me know and I can help you with the data and writing programs to query this database and external ones.  </p>

<p class="centre">Download the <a href="{{ url_for('static', filename='templates/Zone Exit Template.xls') }}">Exit Template</a> here</p>

{% if session.logged_in %}

<h3>Upload data</h3> 
<form action="{{ url_for('index') }}" method=post enctype=multipart/form-data>
<p class="centre">
Year: <select name="year"><option value="20132014">2013-2014</option></select>
Game ID: <input type="text" maxlength="6" value="20001" name="gameid" />
Team: <select name="team"><option value="1">Home</option><option value="2">Away</option></select> <br />
Entry: <input type="radio" value="1" name="data" disabled /> Exit: <input type="radio" value="2" name="data" checked /> <input type=file name=file>
<input type="submit" value="upload" />
</p>
</form>

<ul>
	<li><a href="{{ url_for('index') }}">Add Zone Entry</a></li>
	<li>My Zone Entries</li>
	<li><a href="{{ url_for('index') }}">Add Zone Exits</a></li>
    <li><a href="{{ url_for('index') }}">My Zone Exits</a></li>
</ul>

{% else %}

<h2>Please login to manage your zone data.</h2>

{% endif %}

<p>Zone Entry Nexus is for all forms of Zone Entry or exists.  Right now you can track Defensive Zone Exits but further additions will be added.  If you see any bugs, let me know, if you have any feedback, let me know.</p>

<p>Want to learn more about Zone Entry and Exists?  Check <a href="http://nhlnumbers.com/2013/2/20/zone-entries-and-the-sloan-sports-analytics-conference">this paper</a> out.</p>	

<p>Also Check out the <a href="http://sareon.pythonanywhere.com/">Hockey Scoring Chances app</a>.</p> 
{% endblock %}